<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoGrocer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.EcoGrocer.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.EcoGrocer.Auth" />

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.EcoGrocer.Auth" />

        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.EcoGrocer.Auth" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.EcoGrocer.Auth" />

        <!-- Main Activities -->
        <activity android:name=".ProductDetailActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity android:name=".CartActivity" />
        <activity android:name=".RequestPickupActivity" />
        <activity android:name=".WalletActivity" />
        <activity android:name=".GroceryActivity" />
        <activity android:name=".OrderConfirmationActivity" />
        <activity android:name=".OrderTrackingActivity" />
        <activity android:name=".OrderHistoryActivity" />

        <activity
            android:name=".PeelIdentifierActivity"
            android:exported="false" />

        <activity
            android:name=".PeelAnalysisActivity"
            android:exported="false" />

        <activity
            android:name=".RewardsActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
            
        <activity
            android:name=".FestivalBundlesActivity"
            android:exported="false" />

        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />

        <!-- Keep the old MainActivity for reference, but it's no longer the launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0QhA0Y2TPIypQuLxYzat3SP6ph3KD2_s" />

    </application>

</manifest>